
//plugin wraper
.bx-wrapper {

  position: relative;
}

// Controls wrapper
.bx-controls {

  bottom: 0;
  left: 0;
  height: rem(35px); // bx-pager-link height + bx-pager padding
  margin: 0 auto;
  right: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  z-index: 10;

  // items' container
  .bx-pager {
    @include clearfix;

    display: inline-block;
    padding: rem(10px);
  }
  .bx-pager-item {
    float: left;
    font-size: 0; // remove ugly margin for controls
    margin-right: rem(20px);

    &:last-child {
      margin-right: 0;
    }
  }
  // text
  .bx-pager-link {
    background: $white;
    display: inline-block;
    border-radius: 50%;
    height: rem(15px);
    text-indent: rem(999px);
    transition: background, height 0.3s ease 0s;
    width: rem(15px);

    &.active {
      background: $brand-yellow;
    }
  }
}
