
/* ===========================================
 * Advice: use modernizr or conditionnal comments to avoid hacks
 * Specific rules for this IE version
 * =========================================== */

/* IE rules
 * ==================================== */

 .browsehappy {

   background: $danger-color;
   color: $white;
   padding: rem(10px);
   text-align: center;

   a {
     color: $primary-color;

     &:hover {
       color: $secondary-color;
     }
   }
 }
