
/* ===========================================
 * Specific rules for Footer
 * =========================================== */

/* Specific rule section
 * ==================================== */

 .page-footer {

   background: $primary-color;
   color: darken($white, 30%);
   font-size: rem(14px);
   min-height: rem(140px);
   padding: rem(10px);
   position: relative;
  //  border: 1px solid red;
   // just for test
  //  position: fixed;
  //  bottom: 0;
   width: 100%;
  //  display: none;

   // Common
   .useful-links__item--icon,
   .icon {
     transition: $default-transition;
   }

   .useful-links {
     margin-top: rem(40px);
   }

   // link itself
   .useful-links__item {

      // margin-bottom: rem(30px);
      text-align: center;

      // @TODO: change this modifier name
      .useful-links__item--icon {

        color: darken($white, 30%);
        display: inline-block;
        min-height: rem(50px);

        // &:hover {
        //
        //   .icon {
        //     // margin-right: rem(15px);
        //   }
        // }
      }

      a {

        &.useful-links__item--icon:hover {

          color: $secondary-color;
        }
      }


      .icon {
        display: inline-block;
        fill: darken($white, 30%);
        height: rem(16px);
        margin-right: rem(10px);
        position: relative;
        top: -0.1rem;
        vertical-align: middle;
        width: rem(16px);
      }

    }

    // copyright text
    .cp {

       bottom: 0;
       color: darken($white, 30%);
       margin-bottom: rem(20px);
       margin-top: rem(20px);
       text-align: center;
    }

    .imprint,
    .useful-infos {

      animation-fill-mode: forwards;
      font-size: rem(14px);
      transition: $default-transition;

      &.hideElt {

        display: none;
        opacity: 0;
      }
      &.showElt {

        display: block;
        height: auto;
        opacity: 1;
      }
    }

    // imprint
    .imprint {
      text-align: left;

      .text {
        margin-bottom: rem(10px);
      }
    }
    // location map
    .useful-infos {

      .useful-infos-link {

        color: darken($white, 30%);
        display: inline-block;
        margin-bottom: rem(10px);

        &:hover {
          color: $secondary-color;
        }

      }
    }

    .social-links {

      text-align: center;

      .social-links__item {

        display: inline-block;
        margin: rem(20px) 0;

        .icon {

          fill: $secondary-color;
          height: rem(25px);
          width: rem(25px);

          &:hover {

            fill: $white;
          }
        }
      }
    }

    // Responsiveness
    @include mq(md) {

      .useful-links__item {
        // min-height: rem(50px); avoid animation break and define a min-height for unless two lines
      }

      .useful-links {
        margin-top: rem(20px);
      }
    }
 }
